:root {
    --main-bg-color: #f8fafb;
    --main-color: #1973e5;
    --small-border-radius: 8px;
    --large-border-radius: 16px;
}

.dw-bgc-dark {
    background-color: var(--main-color);
}
.dw-rad-small {
    border-radius: var(--small-border-radius);
}
.dw-rad-large {
    border-radius: var(--large-border-radius);
}

.main-button {
    color: white;
    background-color: var(--main-color);
    border-radius: var(--small-border-radius);
    padding: 0.3rem 0.6rem;
}

.icon {
    font-size: 22px;
    color: var(--main-color);
}
.icon:hover {
    cursor: pointer;
}